/* https://www.modularscale.com/?16&px&1.067 */

/* variables */
:root {
   /* colors */
   --Pink: hsl(322, 100%, 66%);
   --Very-Dark-Cyan: hsl(192, 100%, 9%);
   --Very-Pale-Blue: hsl(207, 100%, 98%);

   /* font-family  */

   --Headings: 'Poppins', sans-serif;
   --Body: 'Open Sans', sans-serif;


}

/* Text-Highlight */ 

::selection {
   background: var(--Pink); /* WebKit/Blink Browsers */
}
::-moz-selection {
   background: var(--Pink); /* Gecko Browsers */
}

/* input- place holder */

::placeholder {
   color: lightgrey;
   opacity: 1; /* Firefox */
}

/* scroll */
::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background-color: var(--Very-Dark-Cyan);
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
   background-color: var(--Very-Pale-Blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
   background:  var(--Very-Pale-Blue);
   box-shadow: inset 0 0 0px rgba(0,0,0,0.5);
   border: 1px solid var(--Pink); 
}
/* ::-webkit-scrollbar-thumb:window-inactive {
   background: white; 
} */


/* Globals -*/

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   font-size: 1rem;
   margin: 0;
   font-family: var(--Body);
   /* background: wheat; */
   text-align: center;
   color: var(--Very-Dark-Cyan);
}

h1, h2 , h3 , h4 {
   font-family: var(--Headings);
}

.img-illu {
   width: 100%;
}

img.img-illu:hover {
   transform: scale(1.1);
}

a {
   text-decoration: none;
}

a.btn {
   color: var(--Pink);
   /* border: 1px solid var(--Pink); */
   border-radius: 50px;
   padding: .8rem 2.5rem;
   font-weight: 600;
   color: var(--Very-Pale-Blue);
   background-color: var(--Pink);
   display: inline-block;
   font-size: 0.878rem;
   transition: .5s background-color,
               .5s all;
   outline: transparent;
}

a.btn:hover, 
a.btn:focus {
   background-color: transparent;
   border: 1px solid var(--Pink);
   color: var(--Pink);
   font-weight: 400;

}

a.btn:active {
   background-color: var(--Very-Dark-Cyan);
   color: var(--Very-Pale-Blue);
   border: none;
   font-weight: 600;
}

.btn-boxshadow {
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

/* HEADER  */
header nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2vh;
}

nav {
   padding: 15px 5vw;
   animation: UptoDown 1.5s ease,
               FadeIn 1.5s ease;
}

nav a {
   outline: none;
   position: relative;
}

nav figure {
   margin: 0;
   display: block;
}

nav figure img {
   width: 120px;
   display: block;
}


nav a > figure::after {
   content: '';
   background-color: var(--Pink);
   height: .5rem;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: -11px;
   opacity: 1;
   transform: scaleX(0.1);
   transform-origin: left;
   opacity: 0;
   transition: .5s ease-in-out transform,
               .7s ease-in-out opacity;
}

nav a:hover > figure::after,
nav a:focus > figure::after {
   transform: scaleX(1);
   opacity: 1;
}



nav a.btn {
   color: var(--Pink);
   font-weight: normal;
   padding: .25rem 1rem;
   font-size: 0.772rem;
   background-color: transparent;
   border: 1px solid var(--Pink);
}

nav a.btn:hover, 
nav a.btn:focus {
   color: var(--Very-Pale-Blue);
   background-color: var(--Pink);
}

.header-text {
   margin-top: 15vh;
   animation: Rotateandsmalltobig 1.5s ease,
               FadeIn 1.5s ease;
}

.header-text h1 {
   font-size: 1.68rem;
   max-width: 300px;
   margin: 0 auto;
}

.header-text p {
   font-size: 0.937rem;
   max-width: 315px;
   margin-left: auto;
   margin-right: auto;
   line-height: 1.5;
   margin: 20px auto 40px auto;
}

header figure.header {
   margin-top: 90px;
   animation: DowntoUp 1.5s ease,
               FadeIn 1.5s ease;
}

/* MILESTONE */

section.milestone {
   margin: 150px auto;
}

.milestone-items {
   display: grid;
   max-width: 200px;
   margin: 50px auto;
}

.milestone-items figure {
   margin: 0;
   justify-self: start;
}

.milestone-items figure img {
   max-width: 30px;
   margin-left: 5px;
}
.milestone-items figure img:hover {
   transform: scale(1.1);
}


.milestone-items h2 {
   font-size: 4.479rem;
   margin: 0;
}

.milestone-items small {
   font-size: 0.937rem;
   color: #b9b5b5;
}

/* FEATURE */

section.feature {
   margin: 50px auto 100px auto;
}

.feature-items {
   margin: 150px auto;
   padding: 1rem 0 7rem 0;
   position: relative;
}

.feature-items:nth-child(odd){
   background-color: var(--Very-Pale-Blue);
}

.feature-items:nth-child(odd)::before, 
.feature-items:nth-child(odd)::after {
   content: '';
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: absolute;
   width: 100%;
   left: 0;
}

.feature-items:nth-child(1)::before {
   background-image: url(../images/bg-section-top-mobile-1.svg);
   height: 8rem;
   top: -8rem;
}

.feature-items:nth-child(1)::after {
   background-image: url(../images/bg-section-bottom-mobile-1.svg);
   background-size: contain;
   height: 14rem;
   bottom: -8rem;
}

.feature-items:nth-child(3)::before {
   background-image: url(../images/bg-section-top-mobile-2.svg);
   height: 8rem;
   top: -7rem;
}

.feature-items:nth-child(3)::after {
   background-image: url(../images/bg-section-bottom-mobile-2.svg);
   background-size: contain;
   height: 14rem;
   bottom: -10rem;
}

.feature-items figure {
   margin-bottom: 70px;
}

.feature-items p {
   max-width: 335px;
   margin-left: auto;
   margin-right: auto;
   font-size: 0.937rem;
}

/* COMMUNITY */
section.community {
   margin: 200px auto;
}

section.community h2 {
   max-width: 300px;
   margin: 40px auto 40px auto;
   font-size: 1.68rem;
}

/* FOOTER  */

footer {
   color: var(--Very-Pale-Blue);
   background-color: var(--Very-Dark-Cyan);
   text-align: left;
   position: relative;
   padding: 90px 0;
   font-size: 0.937rem;
}

footer::before {
   content: '';
   background-image: url(../images/bg-footer-top-mobile.svg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: contain;
   width: 100%;
   height: 10rem;
   position: absolute;
   top: -50px;
   left: 0;

}

.ftr-container {
   margin: 0 7vw;
   display: grid;
   grid-template-areas: 
      "News"
      "company"
      "social";
}

.ftr-info {
   margin-bottom: 20px;
   grid-area: company;
}

.company-logo figure {
   margin: 0;
   display: inline-block;
}
.company-logo img {
   filter: contrast(0) brightness(100);
   max-width: 180px;
}

.company-logo a {
   position: relative;
   outline: transparent;
}

.company-logo a > figure::after {
   content: '';
   background-color: var(--Very-Pale-Blue);
   height: .5rem;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: -10px;
   opacity: 1;
   transform: scaleX(0.1);
   transform-origin: left;
   opacity: 0;
   transition: .5s ease-in-out transform,
               .7s ease-in-out opacity,
               .5s ease-in-out background-color;
}

.company-logo a:hover > figure::after,
.company-logo a:focus > figure::after {
   transform: scaleX(1);
   opacity: 1;
   background-color: var(--Pink);
}

.company-descrip p {
   max-width: 350px;
}

.company-info {
   margin-top: 25px;
}

.company-info figure {
   margin: 0 1rem 0 0;
   display: inline-block;
   height: 18px;
}

.company-info figure img {
   height: 18px;
}

.comp-tel-num, 
.comp-email {
   display: flex;
   align-items: center;
}

.comp-tel-num p, 
.comp-email p {
   margin: 10px 0;
   transition: .5s all;
}

.comp-tel-num p:hover, 
.comp-email p:hover {
   color: var(--Pink);
}

.ftr-newsletter {
   margin: 50px 0 80px 0;
   grid-area: News;
}

.ftr-newsletter h2 {
   font-family: var(--Body);
   text-transform: uppercase;
}

.ftr-newsletter p {
   max-width: 330px;
}

.ftr-newsletter form {
   max-width: 330px;
}

.ftr-newsletter form input {
   outline: transparent;
   height: 2.5rem;
   border-radius: 5px;
   margin: 5px auto;
   padding: 0 1rem;
   border: transparent;
   font-weight: 600;
}

#newsletter-input-text {
   min-width: 100%;
   transition: .5s border-color;
}

#newsletter-input-text:focus {
   border: 2px solid var(--Pink);
}

#newsletter-input-button {
   width: 8.5rem;
   background-color: var(--Pink);
   color: var(--Very-Pale-Blue);
   box-shadow: rgba(0, 0, 0, 0.25);
   font-family: var(--Body);
   float: right;
   cursor: pointer;
   transition: .5s all;
}

#newsletter-input-button:hover, 
#newsletter-input-button:focus {
   background-color: transparent;
   color: var(--Pink);
   border: 1px solid var(--Pink);
   font-weight: 400;
}

#newsletter-input-button:active {
   background-color: lightseagreen;
   color: var(--Very-Dark-Cyan);
   border: none;
   font-weight: 600;
}


.social-icons {
   grid-area: social;
}

.social-icons ul {
   list-style-type: none;
   padding-left: 0;
   font-size: 1.7rem;
   display: flex;
   align-items: center;
}

.social-icons span {
   display: none;
}

.social-icons li {
   margin: 0 1.138rem;
}

.social-icons li {
   margin-left: 0;
}

.social-icons li a {
   color: var(--Very-Pale-Blue);
   outline: transparent;
   transition: .5s all;

}

.social-icons li.facebook:hover a, 
.social-icons li.facebook a:focus {
   color: #0037ad;
}
.social-icons li.instagram:hover a,
.social-icons li.instagram a:focus {
   color: #e1306c;
}

.social-icons li.twitter:hover a, 
.social-icons li.twitter a:focus {
   color: #2cbaf7;
}

.attribution {
   position: absolute;
   bottom: 5px;
   left: 0;
   width: 100%;
}

.attribution a {
   outline: transparent;
   position: relative;
   transition: all 1s;
}

.attribution a:hover,
.attribution a:focus {
   color: var(--Pink);
}

.attribution a::after {
   content: '';
   position: absolute;
   height: 3px;
   width: 100%;
   background-color:hsl(228, 45%, 44%);
   left: 0;
   bottom: -3px;
   /* opacity: 0; */
   transform: scaleX(0);
   transform-origin: left;
   transition: 1s all;
}

.attribution a:hover::after,
.attribution a:focus::after {
   transform: scaleX(1);
   transform-origin: right;
   background-color: var(--Pink);
}

/* ANIMATION KEYS  */

@keyframes UptoDown {
   0% {
      transform: translateY(-100px);
   }

   50% {
      transform: translateY(10px);
   }

   70% {
      transform: translateY(-5px);
   }

   80% {
      transform: translateY(5px);
   }

   90% {
      transform: translateY(-2px);
   }

   95% {
      transform: translateY(1px);
   }
   100% {
      transform: translateY(-1px);
   }
}

@keyframes DowntoUp {
   0% {
      transform: translateY(100px);
   }
   50% {
      transform: translateY(10px);
   }

   70% {
      transform: translateY(-5px);
   }

   80% {
      transform: translateY(5px);
   }

   90% {
      transform: translateY(-2px);
   }

   95% {
      transform: translateY(1px);
   }
   100% {
      transform: translateY(-1px);
   }
}

@keyframes LeftToRight {
   0% {
      transform: translateX(-150px);
   }

   100% {
      transform: translateX(0);
   }
}


@keyframes FadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes Rotateandsmalltobig {
   0% {
      transform: rotate(360deg) scale(0);
   }
   60% {
      transform: rotate(-20deg);
   }
   80% {
      transform: rotate(10deg);
   }
   90% {
      transform: rotate(-5deg);
   }
   95% {
      transform: rotate(3deg);
   }
   100% {
      transform: rotate(-1deg) scale(1);
   }
}

@media screen and (min-width: 501px) {

   img.img-illu {
      max-width: 500px;
   }

   section.community {
      margin: 250px auto 300px auto;
   }

   .feature-items:nth-child(1)::before {
      background-image: url(../images/bg-section-top-desktop-1.svg);
   }

   .feature-items:nth-child(1)::after {
      background-image: url(../images/bg-section-bottom-desktop-1.svg);
   }

   .feature-items:nth-child(3)::before {
      background-image: url(../images/bg-section-top-desktop-2.svg);
   }

   .feature-items:nth-child(3)::after {
      background-image: url(../images/bg-section-bottom-desktop-2.svg);
      background-size: cover;
      bottom: -14rem;
   }

   footer::before {
      background-image: url(../images/bg-footer-top-desktop.svg);
      background-size: cover;
      top: -160px;
   }

   .ftr-container {
      justify-content: center;
   }
}

/* 900px */

@media screen and (min-width: 900px) {

   footer::before {
      top: -210px;
      height: 14rem;
   }


   /* HEADER-900 */

   a.btn {
      font-size: 1rem;
      padding: 1rem 4.5rem;
   }

   nav figure img {
      width: 190px;
   }

   nav a.btn {
      font-size: 1rem;
      padding: .35rem 1.5rem;
   }

   .header-text h1 {
      max-width: unset;
      font-size: 2rem;
   }

   .header-text p {
      max-width: 480px;
      font-size: 1rem;
   }

   header img.img-illu {
      max-width: 750px;
   }

   /* MILESTONE-900 */

   section.milestone {
      display: flex;
      justify-content: space-between;
      max-width: 700px;
   }

   .milestone-items {
      margin: 0;
      max-width: unset;
   }

   .milestone-items figure img {
      max-width: 35px;
      margin-left: 0;
   }

   .milestone-items h2 {
      font-size: 5rem;
   }

   .milestone-items small {
      font-size: 1.296rem;
   }

   /* FEATURES-900 */ 

   section.feature {
      margin: 280px auto 100px auto;
   }

   .feature-items-container {
      padding: 7rem 0 7rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
         "illu text";
      align-items: center;
   }

   .feature-items:nth-child(odd) .feature-items-container {
      grid-template-areas: 
         "text illu";
   }

   .feature-items:nth-child(1)::before {
      height: 10rem;
   }

   .feature-items .feature-text {
      grid-area: text;
      margin-right: 5vw;
      align-self: center;
   }

   .feature-items:nth-child(odd) .feature-text {
      margin-left: 5vw;
      margin-right: 0;
   }

   .feature-items h2 {
      margin-top: 0;
      font-size: 1.793rem;
      text-align: left;
   }

   .feature-items p {
      font-size: 1rem;
      text-align: left;
      margin-left: 0;
      max-width: unset;
      margin-bottom: 0;
   }

   /* COMMUNITY-900  */

   section.community {
      padding: 50px 0;
   }

   section.community h2 {
      max-width: unset;
      font-size: 2rem;
   }

   section.community a.btn {
      padding: 1rem 4.8rem;
   }

   /* FOOTER-900  */

   footer {
      font-size: 1rem;
   }

   .ftr-container {
      grid-template-areas: 
         "company News"
         "social social";
      justify-content: unset;
      margin: 0 5vw;
   }

   .ftr-info {
      justify-self: start;
   }

   .company-logo img {
      min-width: 190px;
   }

   .ftr-newsletter {
      margin: 0;
      max-width: unset;
   }

   .ftr-newsletter h2 {
      margin-top: 0;
   }
   
   .ftr-newsletter p {
      min-width: 370px;
   }

   .ftr-newsletter form {
      display: flex;
      max-width: 33vw;
   }

   #newsletter-input-text {
      min-width: 90%;
   }

   #newsletter-input-button {
      margin-left: 10px;
      padding: 0 2rem;
   }

   .social-icons {
      margin-top: 25px;
   }

   .social-icons ul {
      font-size: 1.913em;
   }

   .social-icons li {
      margin: 0 10px;
   }

   .social-icons li:nth-of-type(1){
      margin-left: 0;
   }

}

/* 1100px */

@media screen and (min-width: 1100px) {



   .feature-items-container {
      max-width: 1100px;
      margin: 0 auto;
   }

   .feature-items p {
      max-width: 490px;
   }
}

/* 1300px */

@media screen and (min-width: 1300px) {

   nav {
      padding: 15px 0;
      max-width: 1100px;
      margin: 0 auto;
   }

   .feature-items .feature-text {
      margin-right: 0;
      justify-self: center;
   }

   .feature-items:nth-child(odd) .feature-text {
      margin-left: 0;
   }

   .ftr-container {
      margin: 0 auto;
      max-width: 1200px;
   }

   .ftr-newsletter form {
      max-width: unset;
   }

   #newsletter-input-text {
      min-width: unset;
      max-width: 355px;
      margin-right: 0;
      margin-left: 0;
      width: 100%;
   }

   

}









